In [14]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
path = "./data/Imports_Exports_Dataset.csv"
data = spark.read.option("header", True).csv(path)

In [5]:
data.createOrReplaceTempView("Transactions")

In [6]:
data.show(5)

+--------------------+----------------+---------+-------------+--------+-------+----------+-----------+----------------+------------+-------+---------------+--------------------+-------------+--------------+----------------+
|      Transaction_ID|         Country|  Product|Import_Export|Quantity|  Value|      Date|   Category|            Port|Customs_Code| Weight|Shipping_Method|            Supplier|     Customer|Invoice_Number|   Payment_Terms|
+--------------------+----------------+---------+-------------+--------+-------+----------+-----------+----------------+------------+-------+---------------+--------------------+-------------+--------------+----------------+
|e3e70682-c209-4ca...|        Colombia| describe|       Export|    1979|9506.57|07-12-2023|  Machinery|      Robertbury|      620537|4248.65|            Air|Garrison, Hubbard...|    Seth Hall|      21000294|Cash on Delivery|
|f728b4fa-4248-4e3...|           Chile|president|       Export|    5763|7100.91|04-04-2023|   Clothing|        Shahport|      927600|4340.81|            Air|           Webb-Mack|Kimberly Ryan|      88738432|         Prepaid|
|eb1167b3-67a9-437...|          Turkey|      far|       Import|    5740|2450.34|21-08-2024|Electronics|South Joshuatown|      299258|4538.41|            Air|Mendez, Jones and...|   Ryan Silva|      89922099|         Prepaid|
|f7c1bd87-4da5-470...|Christmas Island|   agency|       Export|    2592|7226.42|09-05-2022|  Furniture|        Adamfort|      996084|4886.14|            Air|     Schroeder-Smith|   Jacob Gray|      63216265|          Net 60|
|e443df78-9558-467...|         Finland|   policy|       Export|    2622|2817.29|03-04-2023|Electronics|       Juliebury|      555981|4406.74|            Air|       Zimmerman LLC| Amy Stephens|      94600248|Cash on Delivery|
+--------------------+----------------+---------+-------------+--------+-------+----------+-----------+----------------+------------+-------+---------------+--------------------+-------------+--------------+----------------+
only showing top 5 rows

In [8]:
query = "SELECT DISTINCT Country FROM Transactions"
Country_Dim = spark.sql(query)

In [9]:
Country_Dim.show(5)

+--------------------+
|             Country|
+--------------------+
|                Chad|
|            Paraguay|
|            Anguilla|
|               Macao|
|Heard Island and ...|
+--------------------+
only showing top 5 rows

In [19]:
Country_Dim = Country_Dim.withColumn("Country_ID", row_number().over(Window.orderBy(Country_Dim.Country)))

In [22]:
Country_Dim = Country_Dim.withColumnRenamed("Country", "Country_Name")
Country_Dim.show(10)

+--------------------+----------+
|        Country_Name|Country_ID|
+--------------------+----------+
|         Afghanistan|         1|
|             Albania|         2|
|             Algeria|         3|
|      American Samoa|         4|
|             Andorra|         5|
|              Angola|         6|
|            Anguilla|         7|
|Antarctica (the t...|         8|
| Antigua and Barbuda|         9|
|           Argentina|        10|
+--------------------+----------+
only showing top 10 rows

In [30]:
query = "SELECT DISTINCT Product FROM Transactions"
Product_Dim = spark.sql(query)

In [31]:
Product_Dim.show(5)

+---------+
|  Product|
+---------+
|    those|
|      few|
|     hope|
|recognize|
|     some|
+---------+
only showing top 5 rows

In [32]:
Product_Dim = Product_Dim.withColumn("Product_ID", row_number().over(Window.orderBy(Product_Dim.Product)))

In [33]:
Product_Dim = Product_Dim.withColumnRenamed("Product", "Product_Name")
Product_Dim.show(10)

+------------+----------+
|Product_Name|Product_ID|
+------------+----------+
|    American|         1|
|    Congress|         2|
|    Democrat|         3|
|           I|         4|
|          Mr|         5|
|         Mrs|         6|
|          PM|         7|
|  Republican|         8|
|        TRUE|         9|
|          TV|        10|
+------------+----------+
only showing top 10 rows

In [34]:
query = "SELECT DISTINCT Category FROM Transactions"
Category_Dim = spark.sql(query)

In [35]:
Category_Dim.show(5)

+-----------+
|   Category|
+-----------+
|  Machinery|
|Electronics|
|   Clothing|
|  Furniture|
|       Toys|
+-----------+

In [36]:
Category_Dim = Category_Dim.withColumn("Category_ID", row_number().over(Window.orderBy(Category_Dim.Category)))

In [37]:
Category_Dim = Category_Dim.withColumnRenamed("Category", "Category_Name")
Category_Dim.show(10)

+-------------+-----------+
|Category_Name|Category_ID|
+-------------+-----------+
|     Clothing|          1|
|  Electronics|          2|
|    Furniture|          3|
|    Machinery|          4|
|         Toys|          5|
+-------------+-----------+

In [38]:
query = "SELECT DISTINCT Supplier FROM Transactions"
Supplier_Dim = spark.sql(query)

In [39]:
Supplier_Dim.show(5)

+--------------------+
|            Supplier|
+--------------------+
|           Smith PLC|
|Smith, Price and ...|
|Jennings, Thomas ...|
|        Gibson Group|
|         Casey-Evans|
+--------------------+
only showing top 5 rows

In [40]:
Supplier_Dim = Supplier_Dim.withColumn("Supplier_ID", row_number().over(Window.orderBy(Supplier_Dim.Supplier)))

In [41]:
Supplier_Dim = Supplier_Dim.withColumnRenamed("Supplier", "Supplier_Name")
Supplier_Dim.show(10)

+--------------------+-----------+
|       Supplier_Name|Supplier_ID|
+--------------------+-----------+
|          Abbott LLC|          1|
|     Abbott and Sons|          2|
|Abbott, Olson and...|          3|
|Abbott, Taylor an...|          4|
|     Abbott-Oconnell|          5|
|        Abbott-Patel|          6|
|         Acevedo LLC|          7|
|Acevedo, Atkins a...|          8|
|Acevedo, Gonzales...|          9|
|Acevedo, Ortiz an...|         10|
+--------------------+-----------+
only showing top 10 rows

In [42]:
query = "SELECT DISTINCT Customer FROM Transactions"
Customer_Dim = spark.sql(query)

In [43]:
Customer_Dim.show(5)

+-------------+
|     Customer|
+-------------+
|  Kyle Nelson|
|Jeremy Hunter|
| Jasmine Long|
| Ronald Hayes|
|    John Dean|
+-------------+
only showing top 5 rows

In [44]:
Customer_Dim = Customer_Dim.withColumn("Customer_ID", row_number().over(Window.orderBy(Customer_Dim.Customer)))

In [45]:
Customer_Dim = Customer_Dim.withColumnRenamed("Customer", "Customer_Name")
Customer_Dim.show(10)

+-----------------+-----------+
|    Customer_Name|Customer_ID|
+-----------------+-----------+
|      Aaron Ayers|          1|
|      Aaron Baker|          2|
|      Aaron Banks|          3|
|     Aaron Barnes|          4|
|      Aaron Brown|          5|
|     Aaron Butler|          6|
|Aaron Carroll Jr.|          7|
|  Aaron Castaneda|          8|
|     Aaron Chaney|          9|
|      Aaron Cline|         10|
+-----------------+-----------+
only showing top 10 rows